{% extends "base.html.jinja" %}
{% block content%}
<p> <h2>Sebastian Słowakiewicz</h2>
        <h3>Wykształcenie:</h3>
        <h7>
            <li>Zespół Szkół Ekonomicznych w Nowym Targu</li>
            <li>Technik Ekonomista</li>
            <li>2019-2023</li>
        </h7>
        <h7>
            <li>Akademia Nauk Stosowanych w Nowym Targu</li>
            <li>Student na kierunku informatyka ekonomiczna</li>
            <li>2023-</li>
        </h7>
    </section>

    <section>
        <h3>Kursy:</h3>
        <h7>
            <li>"Podstawy Rachunkowości Finansowej" Kurs obejmujący zasady i procedury rachunkowości finansowej</li>
            <li>Data ukńczenia: 2022</li>
        </h7>
        <h7>
            <li>"Zaawansowany Excel dla Księgowych" Kurs skupiający się na zaawansowanych funkcjach programu Excel przydatnych w pracy księgowego</li>
            <li>Data ukńczenia: 2023</li>
        </h7>
        <h7>
            <li>"Egzamin zawodowy EKA.04 - Prowadzenie dokumentacji w jednostce organizacyjnej</li>
            <li>Data ukńczenia: 2022</li>
        </h7>
        <h7>
            <li>"Egzamin zawodowy EKA.05 - Prowadzenie spraw kadrowo-płacowych i gospodarki finansowej jednostek organizacyjnych</li>
            <li>Data ukńczenia: 2023</li>
        </h7>
    </section>

    <section>
        <h3>Doświadczenie Zawodowe:</h3>
        <h7>
        <li>Biuro księgowe "VATax"</li>
            <li>stanowisko: asystent księgowego</li>
            <li>2021-2023</li>
        </h7>
 <footer class="container fixed-bottom alert alert-success text-end">
  (c) Sebastian Słowakiewicz | Akademia nauk stosowanych w Nowym Targu
</footer>
</p>
{% endblock content%}
{% block title%}
O autorze
{% endblock title %}
</body>
</html>
