<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title><h1>Ceneo Web Scraper</h1></title>
</head>
<body>
  <header class="container">
    <h1 class="text-center container">Ceneo Web Scraper</p></h1>
    </header>
<menu><nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{url_for('index')}}"><i class="bi bi-house-door-fill"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="{{url_for('extract')}}">Ekstrakcja opinii</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('product')}}">Lista produktów</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('about')}}">O autorze</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true"></a>
          </li>
        </ul>
      </div>
    </div></menu>
<section class="container">
  <div class="row">
  {%block content%}
  <p><h3>Cel aplikacji:</h3>
<h7> Aplikacja Ceneo Web Scraper została stworzona w celu automatycznego pobierania danych z popularnej platformy zakupowej Ceneo.pl. Jej głównym celem jest umożliwienie użytkownikom szybkiego i skutecznego pozyskiwania informacji o produktach, takich jak ceny, opinie, oceny oraz inne parametry, w celu analizy rynku lub porównania ofert.</h7>
 
  
<h3>Opis działania aplikacji:</h3>

<h7>Aplikacja działa w sposób automatyczny, przeszukując strony internetowe Ceneo.pl w poszukiwaniu wybranych produktów. Następnie, korzystając z technik web scrapingu, ekstrahuje z tych stron potrzebne informacje, takie jak nazwa produktu, cena, opinie użytkowników, oceny itp. Zebrane dane są następnie przetwarzane i zapisywane w odpowiedniej formie, np. w formie pliku CSV lub bazy danych, dostarczając użytkownikowi kompletnych zestawień danych do analizy lub dalszego wykorzystania.</h7>
  
<h3>Zastosowane biblioteki:</h3>

<h7>Do realizacji zadania aplikacji wykorzystano zestaw popularnych bibliotek języka Python, takich jak BeautifulSoup oraz Requests, które umożliwiają łatwe przeszukiwanie i pobieranie danych ze stron internetowych. Dodatkowo, do zarządzania danymi i ich zapisu, mogły zostać wykorzystane biblioteki takie jak Pandas lub SQLAlchemy, w zależności od potrzeb i preferencji użytkownika.</h7>
  
<h3>Zastosowane podejścia:</h3>
 <h7>Aplikacja Ceneo Web Scraper opiera się głównie na technikach web scrapingu, które polegają na automatycznym przeszukiwaniu i ekstrakcji danych z witryn internetowych. W tym celu aplikacja wysyła zapytania HTTP do serwerów Ceneo.pl, a następnie analizuje odpowiedzi HTML, wydobywając z nich interesujące informacje. Podejście to umożliwia szybkie i skuteczne pozyskiwanie danych z platformy Ceneo.pl bez konieczności ręcznego przeglądania jej stron. Dodatkowo, aplikacja może wykorzystywać techniki przetwarzania języka naturalnego (NLP) do analizy opinii użytkowników i wyodrębniania istotnych informacji.</h7>
 </section></p>
  {%endblock content%}
 </section>

 <footer class="container fixed-bottom alert alert-success text-end">
  (c) Sebastian Słowakiewicz | Akademia nauk stosowanych w Nowym Targu
</footer>

</body>
</html>