{% extends "base.html.jinja" %}
{% block title %}
Wykresy produktu
{% endblock title %}
{% block content %}
<h1>Wykresy dla produktu {{ product_id }}</h1>
    <div>
        <h2>Udział poszczególnych rekomendacji w ogólnej liczbie opinii</h2>
        <img src="{{ url_for('static', filename=pie_chart) }}" alt="Pie Chart">
    </div>
    <div>
        <h2>Liczba opinii z poszczególnymi liczbami
            gwiazdek</h2>
        <img src="{{ url_for('static', filename=bar_chart) }}" alt="Bar Chart">
    </div>
    <div>
        <a href="{{ url_for('product', product_id=product_id) }}">Back to product</a>
    </div>
{% endblock content %}